:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #eae0ac;
  color: #2b303a;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
}
aside h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Monospace;
  padding: 1rem;
  margin-left: 34rem;
  margin-right: 34rem;
  margin-bottom: 4rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  background-color: #dad5d5;
  cursor: pointer;
}

aside h3:hover {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Monospace;
  padding: 1rem;
  margin-left: 34rem;
  margin-right: 34rem;
  margin-bottom: 4rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  background-color: #939090;
}

aside h3:active {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Monospace;
  padding: 1rem;
  margin-left: 34rem;
  margin-right: 34rem;
  margin-bottom: 4rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  background-color: #5b5b5b;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: #dad5d5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: rgb(2, 157, 2);
  cursor: pointer;
}

fieldset i.add:hover {
  color: rgb(3, 123, 3);
  cursor: pointer;
}

fieldset i.add:active {
  color: rgb(2, 60, 2);
  cursor: pointer;
}

fieldset i.subtract {
  color: #f64545;
  cursor: pointer;
}
fieldset i.subtract:hover {
  color: #8e2727;
  cursor: pointer;
}

fieldset i.subtract:active {
  color: #280b0b;
  cursor: pointer;
}
